.cards-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  border: none;
  border-bottom: 2px groove black;
  width: 400px;
  height: 200px;
  margin: 0 0 10px 0;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container img {
  width: 100%;
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container:hover {
  width: 400px;
  height: 350px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container img:hover {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card-content {
  opacity: 0;
}

.card-content {
  text-align: center;
}

.card-container:hover .card-content {
  opacity: 1;
  transition-delay: 0.4s;
}

.card-content a {
  text-decoration: none;
}

.image-container {
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
  height: 100%;
  width: 100%;
}

.image {
  height: 190px;
  width: 400px;
}