.card-container {
  width: 400px;
  height: 200px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container img {
  width: 100%;
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container:hover {
  width: 400px;
  height: 350px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: 0.4s ease-in;
}

.card-container img:hover {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card-content {
  opacity: 0;
}

.card-content {
  text-align: center;
}

.card-container:hover .card-content {
  opacity: 1;
  transition-delay: 0.4s;
}

.card-content a {
  text-decoration: none;
}
